<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    
    <script src="https://rstudio.github.io/leaflet/libs/jquery/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://rstudio.github.io/leaflet/libs/bootstrap/css/flatly.min.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/bootstrap/shim/html5shiv.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/bootstrap/shim/respond.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/navigation/tabsets.js"></script>
<link href="https://rstudio.github.io/leaflet/libs/highlightjs/default.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/highlightjs/highlight.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/htmlwidgets/htmlwidgets.js"></script>
<link href="https://rstudio.github.io/leaflet/libs/leaflet/leaflet.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/leaflet/leaflet.js"></script>
<link href="https://rstudio.github.io/leaflet/libs/leafletfix/leafletfix.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/Proj4Leaflet/proj4-compressed.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/Proj4Leaflet/proj4leaflet.js"></script>
<link href="https://rstudio.github.io/leaflet/libs/rstudio_leaflet/rstudio_leaflet.css" rel="stylesheet" />
<script src="https://rstudio.github.io/leaflet/libs/leaflet-binding/leaflet.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-providers/leaflet-providers_1.9.0.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-providers-plugin/leaflet-providers-plugin.js"></script>

<!-- leaflet.extras package / check https://github.com/bhaskarvk/leaflet.extras/tree/master/inst/htmlwidgets/build-->
<!-- You may need to include new refs -->
<!-- leaflet.extras package / heatmap -->
<script src="https://dieghernan.github.io/js/leaflet_extras/lfx-heat/lfx-heat-prod.js"></script>
<script src="https://dieghernan.github.io/js/leaflet_extras/lfx-heat/lfx-heat-bindings.js"></script>	
    
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    

    
  </head>
  <body>
    

    <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
        <div>
        <h1>Smooth Scrolling Sticky ScrollSpy Navigation</h1>
        <section id="introduction">
            <h2>Introduction</h2>
            <p>…</p>
        </section>
        <section id="request-response">
            <h2>Request &amp; Response</h2>
            <p>…</p>
        </section>
        <section id="authentication">
            <h2>Authentication</h2>
            <p>…</p>
        </section>
        <section id="endpoints">
            <h2>Endpoints</h2>
            <section id="endpoints--root">
                <h3>Root</h3>
                <p>…</p>
            </section>
            <section id="endpoints--cities-overview">
                <h3>Cities Overview</h3>
                <p>…</p>
            </section>
            <section id="endpoints--city-detail">
                <h3>City Detail</h3>
                <p>…</p>
            </section>
            <section id="endpoints--city-config">
                <h3>City Config</h3>
                <p>…</p>
            </section>
            <section id="endpoints--city-spots-overview">
                <h3>City Spots Overview</h3>
                <p>…</p>
            </section>
            <section id="endpoints--city-spot-detail">
                <h3>City Spot Detail</h3>
                <p>…</p>
            </section>
            <section id="endpoints--city-icons-overview">
                <h3>City Icons Overview</h3>
                <p>…</p>
            </section>
            <section id="endpoints--city-icon-detail">
                <h3>City Icon Detail</h3>
                <p>…</p>
            </section>
        </section>
        <section id="links">
            <h2>Links</h2>
            <p>…</p>
        </section>
        <section id="expanders">
            <h2>Expanders</h2>
            <p>…</p>
        </section>
        <section id="filters">
            <h2>Filters</h2>
            <p>…</p>
        </section>
    </div>
    <nav class="section-nav">
      window.addEventListener('DOMContentLoaded', () => {

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            const id = entry.target.getAttribute('id');
            if (entry.intersectionRatio > 0) {
                document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.add('active');
            } else {
                document.querySelector(`nav li a[href="#${id}"]`).parentElement.classList.remove('active');
            }
        });
    });

    // Track all sections that have an `id` applied
    document.querySelectorAll('section[id]').forEach((section) => {
        observer.observe(section);
    });
    
});
        <ol>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#request-response">Request &amp; Response</a></li>
            <li><a href="#authentication">Authentication</a></li>
            <li><a href="#endpoints">Endpoints</a>
                <ul>
                    <li class=""><a href="#endpoints--root">Root</a></li>
                    <li class=""><a href="#endpoints--cities-overview">Cities Overview</a></li>
                    <li class=""><a href="#endpoints--city-detail">City Detail</a></li>
                    <li class=""><a href="#endpoints--city-config">City Config</a></li>
                    <li class=""><a href="#endpoints--city-spots-overview">City Spots Overview</a></li>
                    <li class=""><a href="#endpoints--city-spot-detail">City Spot Detail</a></li>
                    <li class=""><a href="#endpoints--city-icons-overview">City Icons Overview</a></li>
                    <li class=""><a href="#endpoints--city-icon-detail">City Icon Detail</a></li>
                </ul>
            </li>
            <li class=""><a href="#links">Links</a></li>
            <li class=""><a href="#expanders">Expanders</a></li>
            <li class=""><a href="#filters">Filters</a></li>
        </ol>
    </nav>
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
